*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  font-family: "PT Sans", sans-serif;
  padding: 0 1rem;
  max-width: 90%;
}
#header {
  display: flex;
  background-color: #be9c46;
  position: fixed;
  top: 0;
  width: 90%;
}
#header-img {
  width: 8%;
  padding: 1%;
  margin-right: 0.5%;
}
#header h1 {
  font-size: 2.8rem;
  color: #0b3450;
  flex-grow: 1;
}
#nav-bar {
  padding: 1.2rem;
}
.nav-link {
  padding: 0 0.8rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: #0b3450;
}
#features {
  margin-top: 5rem;
  margin-bottom: 3rem;
  max-width: 100%;
}
#features aside {
  max-width: 55%;
  display: inline-block;
}
.illustartion {
  max-width: 95%;
}
#features section {
  max-width: 45%;
  display: inline-block;
}
form {
  padding-bottom: 2rem;
}
h3 {
  font-size: 2rem;
  color: #0b3450;
  margin-bottom: 3%;
}
#email {
  width: 70%;
  padding: 0.4rem;
  margin-right: 4%;
}
#submit {
  padding: 0.28rem 0.9rem;
  background-color: #be9c46;
  color: #0b3450;
  font-size: 0.9rem;
  border-radius: 5px;
}
#submit:hover {
  background-color: #0b3450;
  color: #be9c46;
}
.features-section p {
  margin-bottom: 2rem;
  font-size: 1.15rem;
}
.fas {
  padding: 0 0.5rem 0 0;
  color: #db9e02;
}
.features-section h4 {
  padding-bottom: 0.6rem;
  font-size: 1.75rem;
  color: #0b3450;
}

#video-demo {
  padding: 0 25%;
  margin-bottom: 2rem;
}
#pricing-section {
  max-width: 100%;
  padding: 5rem;
  display: flex;
  justify-content: space-around;
}
.small-size,
.medium-size,
.large-size {
  background-color: #be9c46;
  text-align: center;
  width: 25%;
}
h5 {
  background-color: #0b3450;
  color: #be9c46;
  font-size: 2rem;
  padding: 0.75rem;
}
#pricing-section p {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.85rem;
}
li {
  list-style: none;
  font-size: 1.15rem;
}
#pricing-section button {
  margin: 2rem;
}
.select-btn {
  padding: 0.58rem 1.5rem;

  background-color: #0b3450;
  color: #be9c46;
  font-size: 1.05rem;
  border-radius: 5px;
}
.select-btn:hover {
  background-color: #f0d9a1;
  color: #0b3450;
}
footer {
  max-width: 100%;
  background-color: #be9c46;
  padding: 0.55rem;
  text-align: center;
}
footer a {
  text-decoration: none;
  padding-right: 1rem;
}
footer p {
  padding: 0.15rem 0;
}
@media (max-width: 800px) {
  main {
    padding: 0 0.5rem;
  }
  #header {
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #header-img {
    width: 15%;
  }
  #features {
    margin: 3rem 0;
    max-width: 100%;
  }
  #features aside {
    max-width: 100%;
    display: block;
  }
  .illustartion {
    max-width: 95%;
  }
  #features section {
    max-width: 100%;
    display: block;
    margin-top: 2rem;
  }

  #email {
    width: 45%;
  }

  #video-demo {
    padding: 0;
    margin-bottom: 0.65rem;
  }
  #pricing-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
  }
  .small-size,
  .medium-size,
  .large-size {
    min-width: 65%;
    margin: 1rem;
  }
}
